.sidebar {
    @apply h-screen
        bg-base-200
        w-sidebar
        fixed
        top-0
        pt-6
        px-4
        transition-[left]
        duration-500
        -left-sidebar
        desktop:left-0;
}

.sidebar__nav-item {
    @apply my-2;

    > a {
        @apply cursor-pointer
            relative;


        
        &::after {
            @apply w-full
                h-0
                absolute
                bg-accent-focus
                bottom-0
                rounded-sm
                left-0
                -z-10
                transition-[height];
            
            &:hover,
            &.active {
                @apply 
                    h-2;
            }
            
            content: "";
        }
        
    }
}