.sidebar {
    @apply h-full
        bg-base-100
        w-sidebar
        border-r
        absolute
        top-0
        scroll-pr-4
        box-border
        z-20
        shadow-2xl
        transition-all
        duration-layout
        -left-sidebar
        desktop:shadow-none
        desktop:left-0;

    &__wrapper {
        @apply
            px-4
            sticky
            flex
            flex-col
            h-screen
            min-h-0
            overflow-y-auto
            py-6
            top-0;

        > hgroup {
            @apply 
                my-4;

            > header {
                @apply
                    text-2xl
                    font-bold
                    text-accent-content;
            }

            > p {
                @apply
                    opacity-75;
            }
        }
    }

    &__backdrop {
        @apply
            fixed
            inset-0
            backdrop-blur-md
            bg-base-300/10
            z-20
            transition-all
            desktop:hidden;
    }

    &__action {
        @apply
            mt-6
            pb-6
            flex
            gap-2;

        &--button {
            @apply
                opacity-50
                transition-opacity
                cursor-pointer;
            
            &:hover, &:focus &.active {
                @apply opacity-100;
            }
        }
    }

    &__profile {
        @apply
            w-full
            relative;
        
        &::after {
            @apply
                block
                pb-[100%];
            
            content: "";
        }

        > img {
            @apply
                absolute
                w-full
                h-full
                object-cover
                rounded-xl
                shadow-xl;
        }
    }

    &__footer {
        @apply
            mt-auto;

        > ol {
            @apply
                mb-2
                flex
                gap-2;
        }

        > p {
            @apply
                text-sm
                opacity-75;
        }
    }

    &__link {
        @apply
            p-2
            w-10
            h-10
            flex
            items-center
            justify-center;
    }
}

.sidebar__nav-item {
    @apply my-2;

    > a {
        @apply cursor-pointer
            relative
            inline-flex
            items-center
            basis-0
            gap-x-2;


        
        &::after {
            @apply w-full
                h-0
                absolute
                bg-blue-500/50
                bottom-0
                rounded-sm
                left-0
                -z-20
                transition-[height];
            
            &:hover,
            &.active {
                @apply 
                    h-2;
            }
            
            content: "";
        }
        
    }
}

html[data-sidebar="true"] {
    .sidebar {
        @apply left-0;
    }
}

html[data-sidebar="false"] {
    .sidebar__backdrop {
        @apply hidden;
    }

    .sidebar {
        @apply shadow-none;
    }
}