.sidebar {
    @apply h-full
        bg-base-100
        w-sidebar
        border-r
        absolute
        top-0
        px-4
        z-20
        transition-[left]
        duration-500
        -left-sidebar
        desktop:left-0;

    &__wrapper {
        @apply
            sticky
            h-screen
            py-6
            top-0;

        > hgroup {
            @apply 
                my-4;

            > header {
                @apply
                    text-2xl
                    font-bold
                    text-accent-content;
            }

            > p {
                @apply
                    opacity-50;
            }
        }
    }

    &__overlay {
        @apply
            fixed
            inset-0
            backdrop-blur-md
            bg-base-300/10
            z-20
            transition-all
            desktop:hidden;
    }

    &__action {
        @apply
            mt-6
            flex
            gap-2;

        &--button {
            @apply
                opacity-50
                transition-opacity
                cursor-pointer;
            
            &:hover, &:focus &.active {
                @apply opacity-100;
            }
        }
    }

    &__profile {
        @apply
            w-full
            relative;
        
        &::after {
            @apply
                block
                pb-[100%];
            
            content: "";
        }

        > img {
            @apply
                absolute
                w-full
                h-full
                object-cover
                rounded-xl
                shadow-xl;
        }
    }

    &__footer {
        @apply
            absolute
            bottom-0;
        
        padding-bottom: inherit;

        > ol {
            @apply
                flex
                gap-2;
        }

        > p {
            @apply
                mt-2
                text-sm
                opacity-25;
        }
    }

    &__link {
        @apply
            p-2
            w-10
            h-10
            flex
            items-center
            justify-center;
    }
}

.sidebar__nav-item {
    @apply my-2;

    > a {
        @apply cursor-pointer
            relative
            inline-flex
            items-center
            basis-0
            gap-x-2;


        
        &::after {
            @apply w-full
                h-0
                absolute
                bg-blue-500/50
                bottom-0
                rounded-sm
                left-0
                -z-20
                transition-[height];
            
            &:hover,
            &.active {
                @apply 
                    h-2;
            }
            
            content: "";
        }
        
    }
}

html[data-sidebar="true"] {
    .sidebar {
        @apply left-0;
    }
}

html[data-sidebar="false"] {
    .sidebar__overlay {
        @apply hidden;
    }
}