.button {
    @apply
        rounded-md
        transition-colors
        cursor-pointer;

    &:hover, &:focus {
        @apply bg-base-200
            text-accent-content;
    }

    &:active {
        @apply bg-base-300;
    }

    // disabled 상태일 때
    &:disabled {
        @apply opacity-50
            pointer-events-none;
    }
}