.app-header {
    @apply
        z-20
        w-full
        px-4
        py-2
        box-border
        fixed
        flex
        items-center
        bg-base-200
        transition-all
        top-0
        desktop:-top-appHeader;

    > h1 {
        @apply
            font-bold
            text-accent-content;
    }

    > button {
        @apply
            ml-auto
            text-2xl
            text-accent-content
            cursor-pointer;
    }
}