.experience {
    > hgroup {
        @apply
            mb-4
            flex
            flex-col;

        > h2 {
            @apply
                mb-2
                text-accent-content
                text-2xl
                font-bold;
        }

        > p {
            @apply
                mb-2
                text-sm
                font-medium
                tracking-wide
                opacity-75;
        }
    }
    > h3 {
        @apply
            mb-2
            text-accent-content
            text-xl
            font-bold;
    }

    > ul {
        @apply
            space-y-4
    }
}

.project {
    @apply
        mb-4
        bg-base-200
        rounded-md
        transition-colors
        p-4;
    
    &:hover, &:focus {
        @apply bg-base-300;
    }

    > h4 {
        @apply
            mb-2
            text-accent-content
            text-2xl
            font-bold;
    }

    > p {
        @apply
            mb-4
            font-medium
            transition-colors
            tracking-wide;

        &:hover, &:focus {
            @apply text-accent-content;
        }
    }

    > ul {
        @apply
            space-y-4;
        > li {
            
            > h5 {
                @apply
                    mb-2
                    text-accent-content
                    font-bold;
            }

            > ol {
                @apply
                    pl-5
                    list-decimal;

                > li {
                    @apply
                        mt-2;

                    &::marker,
                    > h6 {
                        @apply
                            font-medium
                            text-accent-content;
                    }
                }
            }
        }
    } 
}