.skill-item {
    @apply
        gap-2
        bg-base-200
        px-2
        py-2
        mt-4
        rounded-md
        transition-colors;
    
    &:hover {
        @apply
            bg-base-300;
    }
    
    > hgroup {
        @apply
            flex
            items-center
            gap-x-2
            mb-2;

        > svg {
            @apply
                min-w-[3.5rem]
                h-14
                text-accent-content;
        }
    
        > div {
            @apply
                inline;
            > h2 {
                @apply
                    flex
                    items-center
                    font-bold
                    gap-2
                    text-xl
                    text-accent-content;
            }
    
            > ol {
                @apply
                    mt-1
                    flex
                    flex-wrap
                    gap-2
                    text-sm;
            }
        }
    }
}