.skill-item {
    @apply
        gap-2
        bg-base-200
        px-2
        py-2
        mt-4
        rounded-md
        transition-colors;
    
    &:hover {
        @apply
            bg-base-300;
    }
    
    > hgroup {
        @apply
            flex
            gap-2
            mb-2;

        > svg {
            @apply
                w-14
                h-14
                min-w-max
                text-accent-content;
        }
    
        > div {
            > h2 {
                @apply
                    flex
                    items-center
                    font-bold
                    gap-2
                    text-xl
                    text-accent-content;
            }
    
            > ol {
                @apply
                    mt-1
                    flex
                    flex-wrap
                    gap-2
                    text-sm;
            }
        }
    }

    > ol {
        @apply
            text-sm
            pl-6;
        
        > li {
            @apply
                pt-1
                transition-colors
                cursor-default
                list-disc;
            
            &:hover, &:focus {
                @apply
                    text-accent-content;
            }
        }
    }

}